[Unit]
Description=app.js - simple NodeJS app
Documentation=https://127.0.0.1
After=network.target

[Service]
Environment=NODE_PORT=<%=  node['chefdemo']['nodeapp_port'] %>
Type=simple
User=root
ExecStart=/usr/bin/node <%=  node['chefdemo']['nodeapp_directory'] -%>/app.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
